.navbar.navbar-expand-lg.bg-danger{
    background-color: hwb(216 23% 9%) !important;
}


i.fa-brands.fa-square-twitter.fa-2xl:hover{
    color: #f4f8fa;
}

i.fa-brands.fa-instagram.fa-3x:hover,
i.fa-brands.fa-facebook.fa-3x:hover,
i.fa-brands.fa-linkedin-in.fa-3x:hover,
i.fa-solid.fa-user.fa-3x:hover{
   color: rgb(255, 255, 255);
}

.list-group{
    --bs-list-group-bg: transparent !important;
    --bs-list-group-border-color: transparent;
}